.banner {
  background-image: linear-gradient(to top, rgba(54, 8, 8, 0.7), rgba(54, 8, 8, 0.7));
  color: #ffffff;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__text {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: bottom;
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__slider-item {
    display: inline-block;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  &__slider-image {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  &__nav-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    width: 32px;
    border: none;
    outline: none;

    &--prev {
      left: 20px;
    }

    &--next {
      right: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .tns-outer {
    height: 100%;
  }

  .tns-liveregion {
    display: none;
  }

  &__content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    color: #ffffff;
    @include content_max-width;
  }

  &__title {
    margin-top: auto;
    font-size: 24px;
  }

  &__sub-title {
    font-size: 18px;

    &--highlighted {
      color: yellow;
    }
  }

  &__shop-link {
    display: inline-block;
    background: black;
    border-radius: 10px;
    font-size: 12px;
    color: yellow;
    padding: 15px;
    text-decoration: none;
  }


  &__scroll-icon-wrapper {
    display: none;
    margin-top: auto;
  }

  &__scroll-icon {
    display: inline-block;
    width: 50px;
    height: auto;
    max-width: 100%;
  }
}

@include tablet {
  .banner {
    font-size: 2rem;

    &__title {
      font-size: 36px;
    }

    &__sub-title {
      font-size: 27px;
    }

    &__shop-link {
      font-size: 14px;
      padding: 20px;
    }

    &__scroll-icon {
      width: 70px;
    }

    &__nav-item {
      width: 48px;
      height: 48px;
    }
  }
}

@include desktop {
  .banner {
    font-size: 3rem;

    &__title {
      font-size: 48px;
    }

    &__sub-title {
      font-size: 36px;
    }

    &__shop-link {
      font-size: 16px;
      padding: 25px;
    }

    &__scroll-icon {
      width: 100px;
    }

    &__nav-item {
      width: 64px;
      height: 64px;
    }
  }
}

@include landscape {
  .banner {
    min-height: calc(100vh - 110px);

    &__scroll-icon-wrapper {
      display: block;
    }
  }
}