.bikes {
  background-color: #FFFFFF;
  height: calc(100vh - #{$headerHeight});
}

.bikes__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include content_max-width;
  padding: 20px;
  position: relative;
  height: calc(100vh - #{$headerHeight});
}

.bikes__nav-item {
  display: inline-block;
  border: 2px solid black;
  padding: 10px 20px 10px 20px;
  text-align: left;
}

.bikes__single-slider,
.bikes__premium-slider,
.bikes__city-slider {
  position: relative;
  width: auto;
}

.bikes__slider-item img {
  //max-width: 100px;
  //margin: 0;
 // width: auto;
}

.bikes__slider-item {
  width: 200px;
}

#bikes__single-speed {
  display: block;
  //width: 100px;
}

#bikes__premium-series {
  display: none;
}

#bikes__city {
  display: none;
}

.bikes__slider-next {
  position: absolute;
  right: -100px;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}

.bikes__slider-prev {
  position: absolute;
  //top: 40%;
  //transform: translate(-50%, -50%);
  //left: 25px;
  left: -100px;
  z-index:1;

  &:hover {
    cursor: pointer;
  }
}

.bikes__customize-controls img {
  width: 32px;
  z-index: 1;
}

.bikes__customize-controls {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.bikes-slider-img img{
  max-width: 100px;
}

.tns-item {
  max-width: 100px;
}
