.contact {
  min-height: calc(100vh - #{$headerHeight});
  background-image: url("../images/CONTACT_US_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    padding: 50px 20px;
    max-width: 100%;
    @include content_max-width;
  }

  &__field,
  &__name {
    vertical-align: top;
    width: 204px;
    margin: 0 auto;
  }

  &__field-item,
  &__name-item {
    border-radius: 5px;
    padding: 10px;
    width: 204px;
    margin: 10px auto;
    border: 1px solid grey;
  }

  &__label-title {
    display: block;
    font-weight: bold;
  }

  &__radio {
    display: block;
    text-align: left;
    padding: 10px 0;
  }

  &__submit {
    display: block;
    width: 204px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: grey;
    border: none;
    color: white;

    &:hover {
      background-color: black;
    }
  }
}

@include tablet {
  .contact {
    font-size: 18px;

    &__content {
      padding: 100px 20px;
    }

    &__name {
      display: inline-block;
      width: 218px;

      &-item {
        width: 210px;
      }
    }

    &__field,
    &__field-item, {
      width: 435px;
    }

    &__radio {
      width: 435px;
    }
  }
}

@include desktop {
  .contact {
    &__content {
      padding: 150px 20px;
    }
  }
}