@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.header__hamburger {
  cursor: pointer;
  height: 5 * $hamburger-bar-height;
  left: 2rem;
  position: fixed;
  top: calc(#{$headerHeight} / 2.2);
  width: $hamburger-bar-width;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: left;

  &:hover {
    opacity: 0.8;
  }

  .header__hamburger-bar,
  .header__hamburger-bar::after,
  .header__hamburger-bar::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    content: '';
    height: $hamburger-bar-height;
    transition: all .5s;
    width: 100%;
    align-self: flex-start;
  }
  .header__hamburger-bar {
    margin-top: 0;

    &::after {
      margin-top: 2 * $hamburger-bar-height;
    }

    &::before {
      margin-top: -2 * $hamburger-bar-height;
    }
  }

  &.expanded .header__hamburger-bar {
    background: transparent;
  }

  &.expanded .header__hamburger-bar::after,
  &.expanded .header__hamburger-bar::before {
    background: white;
    margin-top: 0;
  }

  &.expanded .header__hamburger-bar::after {
    transform: rotate(45deg);
  }

  &.expanded .header__hamburger-bar::before {
    transform: rotate(-45deg);
  }
}

.hamburger__nav {
  box-sizing: border-box;
  background: black;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 100vh;
  left: -50%;
  padding: 70px 30px;
  position: fixed;
  top: 0;
  transition: left .5s;
  width: 50%;
  z-index: 1;
  &.expanded { left: 0; }

  &-list {
    list-style: none;
    padding: 0;
    text-align: left;
  }

  &-link {
    color: white;
    padding: 15px 0;
    border-radius: 10px;

    &:hover {
      background-color: yellow;
      color: black;
    }
  }

  &-logo {
    display: block;
    width: 100px;
  }
}

@include desktop {
  .header__hamburger {
    display: none;
  }
}

@include tablet {
  .hamburger__nav {
    font-size: 18px;
    padding: 80px 30px;

    &-logo {
      width: 130px;
    }
  }
}

