.header {
  max-width: 100%;
  height: 70px;
  z-index: 1;
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: black;
  background-image: linear-gradient(to top, rgba(54, 8, 8, 0.7), rgba(54, 8, 8, 0.7));

  &:after {
    filter: blur(4px);
  }
}

.header__content {
  display: flex;
  position: relative;
  @include content_max-width;
}

.header__logo {
  width: 100px;

  @include breakpoint($desktop-bp) {
    width: 150px;
  }
}

.header__nav-list img {
  padding: 10px;
}