<header class="header">
    <div class="header__content">
        <div class="header__logo">
            <img src="assets/images/THE_BIKE_SHOP_LOGO.png" alt="The Bike Shop Logo">
        </div>

        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a title="header__nav-link" class="header__nav-link header__nav-link--has-subnav" href="#">BICYCLES</a>
                <ul class="header__subNav">
                    <li>
                        <a title="header__subNav-link" class="header__subNav-link" href="#">FIXED / SINGLE SPEED</a>
                    </li>
                    <li>
                        <a title="header__subNav-link" class="header__subNav-link" href="#">CITY BIKES</a>
                    </li>
                    <li>
                        <a title="header__subNav-link" class="header__subNav-link" href="#">PREMIUM SERIES</a>
                    </li>
                </ul>
            </li>
            <li class="header__nav-item">
                <a href="#" title="header__nav-link" class="header__nav-link">PARTS</a>
            </li>
            <li class="header__nav-item">
                <a href="#" title="header__nav-link" class="header__nav-link">ACCESSORIES</a>
            </li>
            <li class="header__nav-item">
                <a href="#" title="header__nav-link" class="header__nav-link">EXTRAS</a>
            </li>
            <li class="header__nav-item">
                <a title="basket__icon" class="basket__icon" href="#">
                    <img src="assets/images/Basket_icon.png" alt="Basket icon">
                </a>
            </li>
        </ul>
    </div>
</header>
